@page "/Tareas/Editar/{id:int}"
@using BlazorApp1.Data
@inject TareasService TareasService
@inject RecursosService RecursosService
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3 class="my-4">Tarea</h3>
    <div class="container">
        <div>
            <div class="mb-3">
                Título:
                <InputText @bind-Value="Modelo.Titulo" />
            </div>
            <div class="mb-3">
                Vencimiento:
                <InputDate @bind-Value="Modelo.Vencimiento" />
            </div>
            <div class="mb-3">
                Estimación:
                <InputNumber @bind-Value="Modelo.Estimacion" />
            </div>
            <div class="mb-3">
                Recurso:
                <InputSelect class="p-1" @bind-Value="RecursosId">
                    <option value="0">Elija un Recurso</option>
                    @foreach (var item in Recursos)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                Estado:
                <InputText @bind-Value="Modelo.Estado" />
            </div>
            <button class="btn btn-primary my-3" type="submit">Guardar</button>
        </div>
    </div>


</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Tareas Modelo { get; set; } = new Tareas();

    public string RecursosId { get; set; }

    private List<Recursos> Recursos = new List<Recursos>();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await TareasService.SelectTask(Id);
            RecursosId = Modelo.RecursosId.ToString();
        }
        else
        {
            Modelo = new Tareas();
        }
        Recursos = await RecursosService.ListResource();
        
    }


    private async void Guardar()
    {
        Modelo.RecursosId = int.Parse(RecursosId);
        await TareasService.SaveTask(Modelo);
        navigation.NavigateTo("Tareas/ListadoTareas");
    }
}
