@page "/recursos/Editar/{id:int}"
@using BlazorApp1.Data
@inject RecursosService RecursosService
@inject UsuariosService UsuariosService
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3 class="my-4">Recurso</h3>
    <div class="container">
        <div>
            <div class="mb-3">
                Nombre:
                <InputText @bind-Value="Modelo.Nombre" />
            </div>
            <div class="mb-3">
                Usuario:
                <InputSelect class="py-1" @bind-Value="UsuarioId">
                    <option value="0">Elija un Usuario</option>
                    @foreach (var item in Usuarios)
                    {
                        <option value="@item.Id">@item.Usuario</option>
                    }
                </InputSelect>
            </div>
            <button class="btn btn-primary my-3" type="submit">Guardar</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Recursos Modelo { get; set; } = new Recursos();

    public string UsuarioId { get; set; }

    private List<Usuarios> Usuarios = new List<Usuarios>();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await RecursosService.SelectResource(Id);
            UsuarioId = Modelo.Id.ToString();
        }
        else
        {
            Modelo = new Recursos();
        }
        Usuarios = await UsuariosService.ListUser();
    }


    private async void Guardar()
    {
        Modelo.UsuariosId = int.Parse(UsuarioId);
        await RecursosService.SaveResource(Modelo);
        navigation.NavigateTo("Recursos/ListadoRecursos");
    }
}


